# Diretório de módulos do Node
node_modules/

# Ignorar arquivos JavaScript compilados
*.js
*.js.map

# Ignorar a pasta de build
build/

# Arquivos de configuração e variáveis de ambiente
.env

# Logs
logs/
*.log

# Informações de dependências e histórico de instalação
package-lock.json

# Configuração do TypeScript
*.tsbuildinfo

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
# Ignorar arquivos gerados pelo Prisma
generated/
prisma/generated/
